body {
    font-family: Arial, sans-serif;
  }
  
  h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 1rem;
  }
  
  h2 {
    font-size: 1.8rem;
    color: #666;
    margin-top: 3rem;
    margin-bottom: 1rem;
  }
  
  form {
    margin-bottom: 2rem;
  }
  
  label {
    display: block;
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 0.5rem;
  }
  
  input[type='text'] {
    font-size: 1.2rem;
    padding: 0.5rem;
    border: 1px solid #ddd;
    margin-bottom: 1rem;
  }
  
  .button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  